<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>考试协议</title>
</head>
<body>

    <form>
    <div style="width: 100%;height: 500px;overflow: auto" align="center">
            <h3 align="center">一、考试协议书</h3>
	
               为了提高同学们的诚信意识和诚信素质，从我做起，从现在做起，本着公平、公正的原则，
               在此次考试中我们签订如下协议：<br><br>
               1、考试不违纪、不作弊；按时独立完成形考作业，不抄袭、剽窃他人作业。<br><br>
               2、严格遵守考场纪律，不得携带通讯工具、电子辞典及规定以外的文具、资料等参加考试。<br><br>
               3、在考场内不交头接耳、互打暗号，喧哗或有其他影响考场秩序的行为，不夹带教材与考试
               内容有关材料并有抄袭现象；不抄袭他人答案；<br><br>
               4、不扰乱考场秩序、无理取闹，服从监考老师安排。
               5、 不随意切换浏览器
               <br>
            <h3>二、违纪处理</h3>
              1、凡在考试过程中有下列行为之一者，按照考试违纪处理：<br><br>
                 （1）将与考试课程内容有关的书籍、笔记、纸条等带入考场，放在试卷下，课桌内外和座位上。<br>  <br>
                 （2）偷看、抄袭他人试卷或与他人对答案者。<br><br>
                 （3）抄写、传递字条，用各种方式示意答案者。<br><br>  
                 （4）在桌面上、墙壁上书写与考试课程内容有关的文字符号、图表等。<br><br>  
		
            
    </div>
    </form>
    <p align="center">是否同意本协议：
        </p>
            <div align="center">
            <form action="{:url('/index/Student/jointest',array('tclass'=>$list))}" method="post">
            <label>是:<input name="pro" type="radio"></label>
            <label>否:<input name="prot" type="radio"></label>
            <input type="submit" value="提交" >
            </form>
            </div>
        
    <p></p>



</body></html>